body {
    width: 1200px;
    margin: auto;
    text-align: center;
    background-image: url(../img/concrete-texture.png);
}
.clear {
    clear: both;
}

section {
    width: 600px;
    float: left;
    background-color: paleturquoise;
    text-align: center;
    min-height: 500px;
}

div {
    height: 15px;
    width: 1200px;
    background-color: peachpuff;
}

footer {
    background-color: lightgreen;
}

footer p {
    margin: 0;
}