body {
    font-family: 'Roboto Slab';
    background-image: url(../img/concrete-texture.png);
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#zoning3 {
    background-color: gold;
}
section {
    float: left;
    width: 600px;
    min-height: 600px;
    background-color: white;
    text-align: center;
    /* position: relative; */
    left: 100px;
    margin: 0;
}

footer {
    background-color: dimgrey;
    width: 1200px;
    height: 70px;
    margin: auto;
    text-align: center;
}
