@charset "UTF-8";

/* reset simple  */
/* l'étoile signifie tout, all */
/* tous les éléments sont "taillés" de façon plus intuitive. ils conserveront la taille que nous leur donnons, même en ajoutant un padding */
*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Mes styles pour le premierSITE : Katia Semedo - Colombbus */

/* font-family: 'Anton', sans-serif;

font-family: 'Lemonada', cursive;

font-family: 'Oswald', sans-serif; */

body {
	background-image: url('../img/concrete-texture.png');
	font-family: 'Oswald', sans-serif;
}
.clear {
	clear: both;
}
h1 {
	font-size: 45px;
	color: #2980b9;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Anton', sans serif;
}
h2 {
	font-size: 35px;
	color: #2c3e50;
	padding: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaa;
}
h2 i {
	color: #09c;
	font-size: 150%;
}
h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}
h4 {
    text-align: center;
	margin-top: 30px;
}
strong {
	font-weight: bold;
}
/* à compléter  */

/* style pour header  */
header {
	height: 175px;
	background: #2c3e50;
}
#logo {
	float: left;
	width: 25%;
	background: #2c3e50;
	padding: 15px;
	text-align: center;
}
#slogan {
	float: left;
	width: 50%;
	background: #2c3e50;
	padding-top: 50px;
}
/* les styles pour les icônes d'insta et de facebook  */
#social {
	float: left;
	width: 25%;
}
#social i {
	/* background: #2c3e50; */
	background: #2c3e50;
	color: #2980b9;
	font-size: 30px;
	text-align: right;
	padding: 15px 30px 0 0;
}
header a {
	text-decoration: none;
	color: #10828c;
}

/* fin style header  */

/* nav navigation  */

nav {
	background: #2980b9;
	height: 70px;
	border-bottom: 8px solid #6acafc;
	text-align: center;
	padding: 15px;	
}
nav a {
	background: #6acafc;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0;
	border: 2px solid #fff;
	color: #2c3e50;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	transition: 0.25s;
	/* transition controle la durée en secondes ou en milli-secondes de la transition avec la pseudo class .hover. transition sur le a marche avec le :hover  */
}
nav a:hover {
	color: #fff;
	background: #a6d6c3;
}
/* la classe .active permet d'indiquer quelle est la page active (sur quelle page d'un site on se trouve)  */
.active {
	color: orangered;
	background: #a6d6c3;
}

/* les zones principales de la page et du site  */

main {
	background: rgba(178, 178, 178, 0.178);
	width: 1200px;
	margin: 0 auto;
}
aside {
    margin: 15px 0 auto 10px;
    min-height: 250px;
    background: lightsteelblue;
    width: 20%;
    float: left;
    padding: 8px;
    text-align: center;
}
#accueil {
	float: left;
	width: 70%;
	/* padding: 10px; */
}
section {
	/* margin-top: 10px; */
	padding: 20px;
}	
footer {
	/* min-height: 100px; */
	min-height: 30px;
	background: #2980b9;
	margin-top: 10px;
}

/* fin des zones principales  */

/* le bouton pour aller en haut de page  */

button {
	font-size: 350%;
	background: transparent;
	border: none;
	color: #2c3e50;
	/* la position du bouton  */
	position: fixed;
	right: 40px;
	bottom: 20px;
}
/* fin bouton  */

/* style de la page texte  */

.citation {
	font-style: italic;
	font-size: 20px;
	font-family: 'Lemonada';
}
h2 i {
	color: #2980b9;
	font-size: 200%;
}
blockquote i, blockquote p {
	color: #6acafc;
	font-size: 100%;
	vertical-align: top;
}

/* début page des images  */
.imageFond {
	background: url(../img/fond.jpg) no-repeat ;
	background-size: cover;
}
.imageFond p {
	/* l'image apparaît car le p a une marge extérieure très grande  */
	width: 75%;
	margin: 200px auto 250px auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.60);
	border-radius: 10px;
	font-size: 120%;
}
/* on cible une seule image avec son chemin relatif depuis la page HTML  */
img[src="img/toureiffel.jpg"] {
	margin: auto;
	display: block;
	padding: 25px;
	background: #fff;
}
.auCentre {
	text-align: center;
}
.imageGolden {
	margin: 20px;
	border: 5px solid #fff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	/* transition durée qui fonctionnera avec le :hover et transform  */
	transition: 1s;
}

/* effet d'animation  */
.imageGolden:hover {
	transform: rotate(-7deg);
	border: 15px solid #fff;
}
.rotation360:hover {
	transform: rotate(-360deg);
}

/* fin page des images  */

/* la page des zonings  */

#zoning1 {
    background: powderblue;
    width: 800px;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 2px white;
}
#zoning1 header {
	height: 70px;
	background-color: steelblue;
}
#zoning1 aside {
	height: 525px;
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
}
#zoning1 section {
	height: 525px;
	width: 80%;
	float: left;
	margin: 0;
	padding: 0;
}

/* zoning 2  */

.clear {
    clear: both;
}
#zoning2 {
    width: 800px;
	margin: auto;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}
#zoning2 header {
    background-color: darkcyan;
    color: aliceblue;
    height: 70px;
}
#zoning2 aside {
    background-color: lightseagreen;
    height: 525px;
	width: 20%;
	float: left;
	margin: 0;
}
#zoning2 .milieu {
	background-color: aliceblue;
    width: 60%;
    height: 525px;
	float: left;
	margin: 0;
}
#zoning2 footer {
	background-color: turquoise;
	margin: 0;
}
#zoning2 footer p {
	height: 60px;
    margin: 0;   
}

/* zoning 3 */

.clear {
    clear: both;
}

#zoning3 {
	background-color: yellowgreen;
	width: 800px;
	margin: auto;
	text-align: center;
	font-family: 'Roboto', serif;
}

#zoning3 section {
    float: left;
    width: 49.9%;
    min-height: 525px;
    background-color: white;
    float:left;
    margin: 0;
}

#zoning3 .bordure {
	float: left;
	width: 0.2%;
	height: 525px;
	background-color: yellowgreen;
}

#zoning3 footer {
    background-color: rgb(71, 4, 71);
    width: 100%;
    height: 50px;
	margin: 0;
	color: #fff;
}

/* zoning 4 */

#zoning4 {
    font-family: 'Roboto', serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 800px;
    margin:auto;
}

#zoning4 header {
    background-color:dimgray;
    width: 800px;
    height: 70px;
    margin: 0;
}

#zoning4 .header {
    display: inline-block;
    background-color: white;
    color: grey;
}

#zoning4 nav {
    background-color: gold;
    width: 800px;
    height: 40px;
	margin: 0;
	border: none;
}

#zoning4 .nav4 {
    display: inline-block;
    background-color: white;
    color: grey;
    margin: 0;
}

#zoning4 section {
    background-color:white;
    height:500px;
}

.carre {
    background-color: whitesmoke;
    width: 750px;
    height: 450px;
    position: relative;
    margin: auto;
    top:10px;
}

#zoning4 footer {
    background-color: dimgray;
    color: #ffffff;
    width: 800px;
    height: 50px;
    margin: 0;
}

#zoning4 footer p {
    margin: 0;
}

/* zoning 5 */

#zoning5 {
	background-color: white;
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}

#zoning5 header {
	height: 100px;
	background-color: rgb(90, 4, 90);
}

#zoning5 nav {
	height: 50px;
	background-color:silver;
	/* border-bottom: 8px solid #333; */
	border: none;
}

#zoning5 section {
	background: snow;
	margin: 20px;
	padding: 0;
}

#zoning5 .section .z1, .z2, .z3, .z4 {
	height: 250px;
	width: 50%;
	float: left;
}

#zoning5 .section .z1, .z2, .z3, .z4 p {
	/* line-height = à la hauteur de l'élément si il y a une paragraphe court qui tient sur une ligne  */
	line-height: 250px;
}

#zoning5 .z1, .z4 {
	background-color: gold;
}

#zoning5 .z2, .z3 {
	background-color: darkturquoise;
}

#zoning5 footer {
	height: 100px;
	background-color: rgb(90, 4, 90);
}

/* zoning 6 */

#zoning6 {
    width: 1000px;
    height: 960px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

#zoning6 .haut1 {
    float: left;
    width: 25%;
    height: 200px;
    background-color: orangered;
}

#zoning6 .haut2 {
    float: left;
    width: 50%;
    height: 200px;
    background-color:darkcyan;
}

#zoning6 .haut3 {
    float: left;
    width: 25%;
    height: 200px;
    background-color: aquamarine;
}

.nav6 {
    height: 60px;
    background-color: paleturquoise;
	margin: 0;
	border: none;
	padding: 0;
}

.nav6 a {
	background-color: paleturquoise;
	border: none;
	padding: 0;
	
}
/* 
#zoning6 nav p {
    margin: 0;
} */

#zoning6 aside {
    float: left;
    width: 25%;
    height: 700px;
	background-color: lightblue;
	margin: 0;
	padding: 0;
}

#zoning6 .zones6 {
	padding: 0;
	margin: 0;
}

#zoning6 .a {
    float: left;
    width: 37.5%;
    height: 300px;
	background-color: bisque;
}

#zoning6 .b {
    float: left;
    width: 37.5%;
    height: 300px;
	background-color: whitesmoke;
}

#zoning6 .diaporama {
    float: left;
    width: 75%;
    height: 300px;
	background-color: yellowgreen;
}

#zoning6 .c {
    float:left;
    width: 18.75%;
    height: 100px;
	background-color: gold;
}

#zoning6 .d {
    float:left;
    width: 18.75%;
    height: 100px;
	background-color: violet;
}

#zoning6 .e {
    float:left;
    width: 18.75%;
    height: 100px;
	background-color: tomato;
}

#zoning6 .f {
    float:left;
    width: 18.75%;
    height: 100px;
    background-color: slateblue;
}

#zoning6 footer {
	background-color: royalblue;
	padding: 0;
}

#zoning6 footer p {
	margin: 0;
}

/* page position */

.centre {
	width: 200px;
	height: 200px;
	background-color: #6acafc;
	margin: 0 auto;
}

/* Position ablosute (par rapport à la page)  */
.absolute {
	width: 100px;
	height: 100px;
	background-color:yellow;
	margin: 0 auto;
	position: absolute;
	top: 24%;
	left: 10%;
}

/* Position relative (relative à son parent) */
/* Quand c'est relatif c'est par rapport au parent, quand c'est absolute c'est par rapport au document SAUF si l'élément est dans un parent relatif  */
.relative {
	background-color: #2980b9;
	width: 400px;
	height: 400px;
	position: relative;
	left: 100px;
	bottom: 10px;
}
.relative div {
	/* contrairement à la div.absolute plus haut, cet élément, à position absolute et étant placé dans une div.relative est absolute par rapport à son parent et non par rapport au document  */
	background-color: #fff1a8;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 0;
}

/* page position : POURCENTAGES */
.trente {
	width: 30%;
	padding: 20px;
	font-size: 22px;
	background-color: rgb(255, 217, 0);
	color: orange;
}
.cinquante {
	width: 50%;
	padding: 20px;
	font-size: 22px;
	background-color: rgb(255, 187, 0);
	color: rgb(255, 115, 0);
}
.cent {
	width: 100%;
	padding: 20px;
	font-size: 22px;
	background-color: red;
	color: rgb(153, 0, 0);
}
/* page position : FLOAT.1 */
.float {
	height: 170px;
	width: 170px;
	background-color: rgb(255, 232, 128);
	border: 2px solid rgb(255, 196, 0);
	margin: 10px;
	float: left;
	text-align: center;
	font-size: 22px;
}
.dernier {
	height: 170px;
	width: 170px;
	background-color: rgb(255, 232, 128);
	border: 2px solid rgb(255, 196, 0);
	margin-top: 20px;
	margin: 10px;
	text-align: center;
	font-size: 22px;
}
/* page position : FLOAT.1 */
.zone {
	height: 70px;
	background-color: #333;
}
.zone1, .zone2, .zone3, .zone4 {
	height: 250px;
	width: 25%;
	float: left;
}
.zone1 {
	background-color: rgb(248, 46, 56);
}
.zone2 {
	background-color: rgb(255, 115, 0); 
}
.zone3 {
	background-color: rgb(255, 187, 0);
}
.zone4 {
	background-color: rgb(255, 217, 0);
}

/* flexbox  */

/* La page des liens  */

.ancre {
	text-align: center;
	padding: 100px;
}

.ancre a {
	margin: 8px;
	padding:5px 10px;
	background-color: #2c3e50;
	box-shadow: 0px 0px 10px 3px #333;
	border-radius: 15px;

	color: #fff;
	text-decoration: none;
}

.ancre a:hover {
	box-shadow: none;
	transition-duration: 0.5s;
	text-shadow: 1px 5px 10px white;
}

/* le menu dans l'id menu  */

#menu nav {
	background: transparent;
	border: none;
}

#menu ul {
	list-style: none;
	text-align: center;
}
#menu ul li {
	display: inline-block;
}

#menu nav a {
	padding: 10px;
	color: grey;
	text-decoration: none;
	background:#ddd;
	transition: 1s ease-in;
}

#menu nav a:hover {
	color: #fff;
	background: #006699;
}

/* le menu avec les menus déroulants  */

#menuDeroulant {
	height: 650px;
}

#menuDeroulant nav {
	width: 90%;
	background: transparent;
	border: none;
	margin: 0 auto;
}

#menuDeroulant nav ul li {
	list-style: none;
	width: 20%;
	float: left;
}

#menuDeroulant ul ul {
	display: none;
}

#menuDeroulant nav ul li ul li {
	border-top: 1px solid #464646;
	width: 100%;
}

#menuDeroulant nav li {
	background: #cccccc;
}

#menuDeroulant nav li a {
	/* a mis en block pour qu'on puisse contrôler sa taille (pas possible en inline) */
	display: block;
	padding: 4px 0;	
}

#menuDeroulant ul {
	text-align: center;
}

#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
	display: block;
}

/* la page des animations  */
/* camel case = classe différenciée, majuscule au milieu d'un mot expression pour faciliter la lecture  */
.infoBulle {
	height: 250px;
	width: 500px;
	margin: auto;
	padding-top: 15px;
	background: #444444;
	box-shadow: 0 0 50px #222222 inset;
}

.infoBulle p {
	text-align: center;
	padding-top: 30px;
}

.infoBulle a {
	color: #cccccc;
	text-decoration: none;
	border-radius: 3px;
	padding: 5px 15px;
	text-shadow: 0 -2px 0 black;
}

.infoBulle a:hover {
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.infoBulle a span {
	position: absolute;
	padding: 15px;
	margin-top: 23px;
	margin-left: -35px;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 13px;
	/* le contenu de span disparait grâce à cette ligne  */
	opacity: 0;
	color: #09c;
	transition: .25s;
	/* la mise à l'échelle transform: scale(0) fait aussi disparaitre le contenu de span  */
	transform: scale(0) rotateZ(-12deg);
}

.infoBulle a:hover span {
	opacity: 1;
	transform: scale(1) rotate(0);
}

.infoBulle a span::before {
	/* à quoi sert ce truc ? À compléter le dessin de l'infobulle  */
	content:'';
	position: absolute;
	top: -5px;
	left: 7px;
	border-bottom: 6px solid rgba(0, 0, 0, 0.9);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

/* Effets survol avec transitions et filtres */

.imgEffets {
	width: 302px;
	height: 320px;
	margin: 70px auto;
}

.imgEffets li {
	width: 141px;
	/* on fabrique le carré qui contient une image (suite pour ce carré plus bas) */
	height: 150px;
	margin: 5px;
	float: left;
	list-style: none;

}

/* le troisième li est clear both */
.imgEffets li:nth-child(3) {
	clear: both;
}

.imgEffets img {
	/* on contrôle la position des éléments car on va jouer sur leur empilement  */
	position: absolute;
	/* toutes les images sont empilées en bas  */
	z-index: 1;
	/* on cale l'image dans un bloc carré de 150px, */
	height: 150px;
	box-shadow: 0 0 3px black;
	/* cubic-bezier commence par 0, se termine par 1 et entre ces 2 valeurs nous mettons nos propres valeurs  */
	transition: 0.5s cubic-bezier(0,3,0.4,1);
	/* pour la transition il faut le :hover */
}

.imgEffets li:hover img {
	/* l'image sur le hover sur la li passe au premier plan  */
	z-index: 2;
	transform: scale(1.5);
	box-shadow: 0 0 10px black;
}

/* dans imgEffect, lorsqu'il y a un hover, les images non survolées prendront le style suivant  */
.imgEffets:hover li:not(:hover) img {
	/* on passe les li qui ne sont pas survolées en niveaux de gris et avec un filtre flou  */
	filter: grayscale(1) blur(1px);
}

/* la page multimédia  */

.videoFond {
	padding-left: 0;
	padding-right: 0;
}

.videoFond video {
	width: 80%;
	position: absolute;
	z-index: 1;
}

.videoTexte {
	/* on le décale par rapport à sa position normale  */
	position: relative;
	width: 100%;
	height: 500px;
}

.videoFond p {
	position: absolute;
	z-index: 2;
	width: 500px;
	margin: auto;
	background: rgba(255, 255, 255, 0.6);
	left: 250px;
	top: 150px;
	padding: 20px;
	font-size: 120%;
	border-radius: 15px;
	text-align: center;
}

/* pour la vidéo youtube embarquée  */

iframe[src="https://www.youtube.com/embed/020g-0hhCAU"] {
	width: 100%;
	height: 700px;
}

iframe[allowfullscreen] {
	width: 100%;
}

.audio {
	text-align: center;
}