body {
    background-color: aliceblue;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.clear {
    clear: both;
}
#zoning2 {
    width: 1200px;
    margin: auto;
}
#zoning2 header {
    background-color: darkcyan;
    color: aliceblue;
    height: 150px;
}
aside {
    background-color: lightseagreen;
    width: 200px;
    height: 400px;
    float: left;
}
#zoning2 .milieu {
    width: 800px;
    height: 400px;
    background-color: aliceblue;
    float: left;
}
footer {
    background-color: turquoise;
}
footer p {
    margin: 0;
    height: 60px;
}