body {
    background-color: silver;
    font-family: 'Roboto Slab';
}
.clear {
    clear: both;
}
main {
    background-image: url(../img/concrete-texture.png);
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}
h3 {
    position: relative;
    left: 10px;
    top: 20px;
    font-weight: bold;
    color: gold;
}
section {
    float: left;
    width: 400px;
    height: 550px;
    background-color: white;
    text-align: center;
    position: relative;
    left: 100px;
}
div {
    width: 800px;
    height: 10px;
    background-color: gold;
    margin: auto;
}
footer {
    background-color: dimgrey;
    width: 800px;
    margin: auto;
    text-align: center;
}
footer p {
    margin: 0;
}